@using SimpleCmsBlazor.Services
@layout Admin
@page "/admin/settings"

<div class="container-fluid">
    @if (loaded)
    {
        <div class="float-end mt-1">
            <HxButton Color="@ThemeColor.Primary" Text="Save site" OnClick="@SaveAsync" />
        </div>
    }
    <h1 class="mt-0">Site Settings</h1>
    @if (loaded)
    {
        <HxInputText CssClass="width-100"
                  Label="Site name" @bind-Value="site.Name"
                  Hint="The name of the site is displayed in the header.">
        </HxInputText>

        <div class="row mt-4 mb-4">
            <div class="col">
                <HxCheckbox @bind-Value="site.HasLogo" Text="Site Has Logo?"></HxCheckbox>
            </div>
            <div class="col">
                <label for="header-color">Header bar text colour</label>
                <input id="header-color" @bind-value="site.HeaderColour" type="color" />
            </div>
            <div class="col">
                <label for="header-back">Header bar background colour</label>
                <input id="header-back" @bind-value="site.HeaderBackground" type="color" />
            </div>
        </div>
    }
</div>