@using SimpleCmsBlazor.Services
@inject SiteService _siteService;
@layout Admin
@page "/admin/settings"

<div class="container-fluid">
    @if (loaded)
    {
        <div class="float-right mt-1">
            <HxButton Color="@ThemeColor.Primary" Text="Save site" OnClick="@SaveAsync" />
        </div>
    }
    <h1 class="mt-0">Site Settings</h1>
    @if (loaded)
    {
        <HxInputText CssClass="width-100"
                  Label="Site name" @bind-Value="site.Name"
                  Hint="The name of the site is displayed in the header.">
        </HxInputText>

        <div class="row mt-4">
            <div class="col">
                <HxInputCheckbox  @bind-Value="site.HasLogo" Label="Site Has Logo?"></HxInputCheckbox>
            </div>
            <div class="col">
                <label for="header-color">Header bar text colour</label>
                <input id="header-color" @bind-value="site.HeaderColour" type="color" />
            </div>
            <div class="col">
                <label for="header-back">Header bar background colour</label>
                <input id="header-back" @bind-value="site.HeaderBackground" type="color" />
            </div>
        </div>
    }
</div>

@code {
    Site site = new();
    bool loaded = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    public async Task SaveAsync()
    {
        await _siteService.SaveSiteAsync(site);
    }

    public async Task LoadAsync()
    {
        site = await _siteService.GetSiteAsync();
        loaded = true;
        StateHasChanged();
    }
}
