@page "/admin/image-edit"
@layout Admin

<div>
    <canvas @ref="srcCanvasElement" width="800" height="600"></canvas>
    <canvas @ref="dstCanvasElement" width="800" height="600"></canvas>
    @foreach (var marker in Markers)
    {
        <div class="marker" title="Marker" draggable="true"
             style="@($"left: {marker.X}px; top: {marker.Y}px")"
         @ondragend="x => DragEnd(marker, x)"
         @ondrag="x => DragEnd(marker, x)"></div>
    }
</div>

<button @onclick="LoadImageAsync">Load Image</button>
<button @onclick="ProcessImage">Process Image</button>

