@using SkiaSharp.Views.Blazor
@page "/admin/image-edit"
@layout Admin

<div>
    <SKGLView style="@($"width:{_canvasWidth}px; height:600px")" OnPaintSurface="OnPaintSurface" EnableRenderLoop="true" class="canvas" @ref="_canvas">
    </SKGLView>
    @foreach (var marker in Markers)
    {
        <div class="marker" title="Marker" draggable="true"
             style="@($"left: {marker.X}px; top: {marker.Y}px")"
         @ondragend="x => DragEnd(marker, x)"
         @ondrag="x => DragEnd(marker, x)"></div>
    }
</div>
<button @onclick="ProcessImage">Process Image</button>

