.marker {
  border: 5px solid rgba(0, 0, 0, 0.3333333333);
  width: 3px;
  height: 3px;
  background: rgba(255, 255, 255, 0.3333333333);
  z-index: 100;
  position: absolute;
}

canvas {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}
