::deep .navbar {
  background-color: #3D226C !important;
}

::deep .nav-link {
  color: #FFFFFFB3 !important;
}

::deep .active {
  color: white !important;
}

.nav-spacer {
  height: 56px;
  width: 100%;
}
