<div id="bottom-sheet" class="overlay @(IsOpen ? "active": "")">
    <aside class="social" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <MatButton OnClick="@Dismiss">
            <i class="fas fa-times"></i>
        </MatButton>

        <h5>Reorder Sections</h5>
        <p class="mat-body">Drag and drop sections to reorder</p>
        @if (page != null && page.Sections != null && page.Sections.Any())
        {
            <Dropzone Items="page.Sections">
                <MatCard Class="mb-2">
                    <MatIcon Icon="@GetIcon(context)"></MatIcon>
                    @context.Name.ToString().Replace("Section"," Section")
                </MatCard>
            </Dropzone>
        }
    </aside>
</div>

@code {
    [Inject] Page? page { get; set; }
    bool IsOpen = false;

    public string GetIcon(PageSection section)
    {
        return section.Name switch
        {
            SectionType.BannerSection => "photo_camera",
            SectionType.TextSection => "format_align_justify",
            SectionType.GallerySection => "view_module",
            SectionType.HtmlSection => "code",
            SectionType.ChildrenSection => "list",
            _ => "error"
        };
    }

    public void Dismiss()
    {
        IsOpen = false;
        StateHasChanged();
    }

    public void Open()
    {
        IsOpen = true;
        StateHasChanged();
    }
}
