@inherits LayoutComponentBase
<div class="flex-container">
  <div class="header">
    <AdminHeader></AdminHeader>
  </div>
  <div class="body">
    @Body
  </div>
</div>
<MatPortalHost></MatPortalHost>

@code {

}
