<HxOffcanvas @ref="canvas" Title="Reorder Sections" Placement="OffcanvasPlacement.Bottom" Size="OffcanvasSize.Large" OnClosed="@Change">
    <BodyTemplate>
        <div>Drag and drop sections to reorder</div>
        @if (CurrentPage != null && CurrentPage.Sections != null && CurrentPage.Sections.Any())
        {
            <DragDropList Items="CurrentPage.Sections" TItem="PageSection">
                <ItemTemplate>
                    <HxCard CssClass="mb-2">
                        <div class="row w-100 align-items-center">
                            <div class="col-3 d-flex align-items-center">
                                <HxIcon Icon="GetIcon(context)" CssClass="fa-2x" />
                                <div class="ps-3">@(context.Name.ToString().Replace("Section", " Section"))</div>
                            </div>
                            <div class="col-9">
                                @SectionDescription(context)
                            </div>
                        </div>
                    </HxCard>
                </ItemTemplate>
            </DragDropList>
        }
    </BodyTemplate>
</HxOffcanvas>

