@using SimpleCmsBlazor.Services
<div id="bottom-sheet" class="overlay @(IsOpen ? "active": "")">
    <aside class="social" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

        <MatButton OnClick="@Dismiss">
            <i class="fas fa-times"></i>
        </MatButton>
        <h3 class="mt-0">Add Folder</h3>
        <h5>Add folder under @folder?.Name</h5>

        <MatTextField Class="width-100" Box="true" @bind-Value="@folderName" Label="Folder name:" HelperText="The name of the new folder to be added"></MatTextField>

        <MatButton OnClick="@AddFolder" Class="mr-2 mat-accent" Raised="true">Add Folder</MatButton>

    </aside>
    <a href="#close" class="btn-close" aria-hidden="true"><span class="mdi mdi-close"></span><span class="sr-only">Close</span></a>
</div>


@code {
    private string folderName = "New Folder";

    [Inject]
    public IFolderService? folderService { get; set; }

    [Parameter]
    public GalleryFolder? folder { get; set; }

    public bool IsOpen { get; set; } = false;

    public void Open()
    {
        IsOpen = true;
        StateHasChanged();
    }

    public void Dismiss()
    {
        IsOpen = false;
        StateHasChanged();
    }

    public async Task AddFolder()
    {
        var newFolder = new GalleryFolder
        {
            PartitionKey = folder?.RowKey ?? Guid.Empty,
            RowKey = Guid.NewGuid(),
            Name = folderName,
        };
        if (folderService != null)
        {
            await folderService.CreateAsync(newFolder);
            Dismiss();
        }
    }
}
