@inherits LayoutComponentBase

<div class="flex-container">
    <div class="header">
        <AdminHeader></AdminHeader>
    </div>
    <div class="body">
        @Body
    </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-start">&copy; @Site.Name @GetYear()</div>
            <div class="col-sm-4 text-center"></div>
            <div class="col-sm-4 text-end">
                <LoginDisplay />
            </div>
        </div>
    </footer>
</div>
