@using System.Drawing

<div class="row">
    <div class="col-9" style="background-color: @BackgroundColour; color: @TextColour">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis cursus velit vel fermentum.
    </div>
    <div class="col-3">
        Constrast<br />
        @if (Contrast >= 4.5)
        {
            <HxIcon Icon="@BootstrapIcon.Check" CssClass="fa-lg" />
        }
        else
        {
            <HxIcon Icon="@BootstrapIcon.X" CssClass="fa-lg" />
        }
        @(Contrast.ToString("F1")):1
    </div>
</div>

