<div class="container-fluid">
    <div class="row">
        @if (pageSection != null && pageSection.Image != null)
        {
            <div class="col-sm-3">
                <HxCard style="height: 100%">
                    <img src="@(prefix + pageSection.Image?.PreviewSmallPath)"
                     class="img-fluid"
                     alt="@(pageSection.Image?.Description)" />
                </HxCard>
            </div>
        }
        <div class="col-sm-9">
            <h4>Select image:</h4>
            <div>
                <HxButton Color="@ThemeColor.Primary" OnClick="@Select">Select Image</HxButton>
            </div>
        </div>
    </div>
</div>

<SelectImage @ref="selectImage" />

@code {
    [Parameter] public PageSection? Section { get; set; }
    [Parameter] public EventCallback<PageSection> SectionChanged { get; set; }

    private PageSection? pageSection;
    SelectImage? selectImage;

    [Inject]
    public IConfiguration? Config { get; set; }

    string prefix = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        pageSection = Section;
        prefix = $"{Config?.GetValue<string>("StorageUrl") ?? string.Empty}/images/";
    }

    public async Task Select()
    {
        if (selectImage != null)
        {
            var result = await selectImage.ShowAsync();
            if (pageSection != null && result.Successful)
            {
                pageSection.Image = result.Value;
                await SectionChanged.InvokeAsync(pageSection);
            }
        }
    }
}
