<div class="container-fluid">
    <div class="row">
        @if (pageSection != null && pageSection.Image != null)
        {
            <div class="col-sm-3">
                <HxCard style="height: 100%">
                    <img src="@(prefix + pageSection.Image?.PreviewSmallPath)"
                     class="img-fluid"
                     alt="@(pageSection.Image?.Description)" />
                </HxCard>
            </div>
        }
        <div class="col-sm-9">
            <h4>Select image:</h4>
            <div>
                <HxButton Color="@ThemeColor.Primary" OnClick="@Select">Select Image</HxButton>
            </div>
        </div>
    </div>
</div>

<SelectImage @ref="selectImage" />


