@using System.Reactive
@using SimpleCmsBlazor.Services
@implements IDisposable

<div @ref=galleryContainer class="galleryContainer">
    <div class="innerGalleryContainer">
        <div *ngFor="let imgrow of gallery | slice: rowIndex:rowIndex + rowsPerPage; let i = index"
             class="imagerow"
             [style.margin-bottom.px]="calcImageMargin()">
            <img #imageElement
                 *ngFor="let img of imgrow; let j = index"
                 class="thumbnail"
                 [style.width.px]="img.width"
                 [style.height.px]="img.height"
                 (click)="openImageViewer(img)"
                 [src]="img.srcAfterFocus"
                 [style.background]="img.dominantColour"
                 [style.margin-right.px]="calcImageMargin()"
                 alt="{{ img.description }}" />
        </div>
    </div>

    <div class="pagerContainer" *ngIf="!rightArrowInactive || !leftArrowInactive">
        <img [ngClass]="{ inactive: leftArrowInactive }"
             class="pager left"
             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwYXRoIGQ9Ik0yNCw0NkMxMS45LDQ2LDIsMzYuMSwyLDI0UzExLjksMiwyNCwyczIyLDkuOSwyMiwyMlMzNi4xLDQ2LDI0LDQ2eiBNMjQsNEMxMyw0LDQsMTMsNCwyNGMwLDExLDksMjAsMjAsMjAgICBjMTEsMCwyMC05LDIwLTIwQzQ0LDEzLDM1LDQsMjQsNHoiLz48L2c+PGc+PHBvbHlnb24gcG9pbnRzPSIyNy42LDM2LjcgMTQuOSwyNCAyNy42LDExLjMgMjkuMSwxMi43IDE3LjgsMjQgMjkuMSwzNS4zICAiLz48L2c+PC9zdmc+"
             (click)="navigate(-1)"
             alt="←" />
        <img [ngClass]="{ inactive: rightArrowInactive }"
             class="pager right"
             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwYXRoIGQ9Ik0yNCw0NkMxMS45LDQ2LDIsMzYuMSwyLDI0UzExLjksMiwyNCwyczIyLDkuOSwyMiwyMlMzNi4xLDQ2LDI0LDQ2eiBNMjQsNEMxMyw0LDQsMTMsNCwyNHM5LDIwLDIwLDIwczIwLTksMjAtMjAgICBTMzUsNCwyNCw0eiIvPjwvZz48Zz48cG9seWdvbiBwb2ludHM9IjIxLjQsMzYuNyAxOS45LDM1LjMgMzEuMiwyNCAxOS45LDEyLjcgMjEuNCwxMS4zIDM0LjEsMjQgICIvPjwvZz48L3N2Zz4="
             (click)="navigate(1)"
             alt="→" />
    </div>
</div>

<Viewer></Viewer>

@code {
    private List<List<GalleryImage>> gallery = new();
    private List<GalleryImage> _images = new();
    private IDisposable? viewerSubscription;
    private int rowIndex = 0;
    private bool rightArrowInactive = false;
    private bool leftArrowInactive = false;
    private ElementReference galleryContainer;

    private PageSection _sourceData = new();
    [Parameter]
    public PageSection SourceData { get; set; } = new();

    [Parameter]
    public int ImageMargin { get; set; } = 3;
    public int ImageSize { get; set; } = 7;
    public string GalleryName { get; set; } = string.Empty;
    public int RowsPerPage { get; set; } = 200;

    [Parameter]
    public EventCallback<bool> OnViewerChange { get; set; }

    [Inject]
    public IJSRuntime? runtime { get; set; }

    [Inject]
    public ImageService? imageService { get; set; }

    [Inject]
    public IConfiguration? Config { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _sourceData = SourceData;
        await FetchDataAndRenderAsync();
        if (imageService == null) throw new NullReferenceException("Image service failed to load");
        viewerSubscription = imageService.ShowImageViewerChanged.Subscribe<bool>(visibility => OnViewerChange.InvokeAsync(visibility));
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_sourceData != SourceData)
        {
            _sourceData = SourceData;
            await FetchDataAndRenderAsync();
        }
        else
        {
            await Render();
        }
    }

    protected void Dispose()
    {
        if (viewerSubscription != null)
            viewerSubscription.Dispose();
    }

    public void OpenImageViewer(GalleryImage img)
    {
        if (imageService != null)
        {
            imageService.UpdateImages(_images);
            imageService.UpdateSelectedImageIndex(_images.IndexOf(img));
            imageService.ShowImageViewer(true);
        }
    }

    /**
     * direction (-1: left, 1: right)
     */
    public void Navigate(int direction)
    {
        if ((direction == 1 && rowIndex < gallery.Count - RowsPerPage) ||
            (direction == -1 && rowIndex > 0))
        {
            rowIndex += RowsPerPage * direction;
        }
        RefreshNavigationErrorState();
    }

    public decimal CalcImageMargin(decimal galleryWidth)
    {
        var ratio = galleryWidth / 1920.0M;
        return Math.Max(1.0M, ImageMargin * ratio);
    }

    private async Task FetchDataAndRenderAsync()
    {
        if (_sourceData != null && _sourceData.Images != null)
        {
            _images = _sourceData.Images;
        }
        else
        {
            _images = new();
        }

        imageService?.UpdateImages(_images);
        foreach (var image in _images)
        {
            image.GalleryImageLoaded = false;
            image.ViewerImageLoaded = false;
            image.SrcAfterFocus = string.Empty;
        }
        await Render();
    }

    private async Task Render()
    {
        var galleryWidth = await GetGalleryWidth();
        gallery = new();
        var tempRow = new List<GalleryImage>();
        foreach (var image in _images)
        {
            var spaceLeft = AddCandidateIfWidthAvailable(tempRow, image, galleryWidth);
            if (!spaceLeft)
            {
                gallery.Add(tempRow);
                tempRow = new();
            }
        }
        if (tempRow.Any()) gallery.Add(tempRow);

        ScaleGallery(galleryWidth);
    }

    private bool AddCandidateIfWidthAvailable(List<GalleryImage> imgRow, GalleryImage candidate, decimal galleryWidth)
    {
        var idealHeight = CalcIdealHeight(galleryWidth);
        var oldDifference = idealHeight - CalcRowHeight(imgRow, galleryWidth);
        imgRow.Add(candidate);
        var newDifference = idealHeight - CalcRowHeight(imgRow, galleryWidth);
        return Math.Abs(oldDifference) > Math.Abs(newDifference);
    }

    private decimal CalcRowHeight(List<GalleryImage> imgRow, decimal galleryWidth)
    {
        var originalRowWidth = CalcOriginalRowWidth(imgRow, galleryWidth);
        var ratio = (galleryWidth - (imgRow.Count - 1) * CalcImageMargin(galleryWidth)) / originalRowWidth;
        return (imgRow.FirstOrDefault()?.RawHeight ?? 0) * ratio;
    }

    private decimal CalcOriginalRowWidth(List<GalleryImage> imgRow, decimal galleryWidth)
    {
        var originalRowWidth = 0.0M;
        foreach (var img in imgRow)
        {
            var individualRatio = CalcIdealHeight(galleryWidth) / (img.RawHeight ?? 1);
            originalRowWidth += (img.RawWidth ?? 0) * individualRatio;
        }
        return originalRowWidth;
    }

    private decimal CalcIdealHeight(decimal galleryWidth) => galleryWidth / (80.0M / ImageSize) + 100;

    private async Task<decimal> GetGalleryWidth()
    {
        if (runtime == null) return 0;
        return await runtime.InvokeAsync<decimal>("GetClientWidth", galleryContainer);
    }

    private void ChooseThumbnailSize(GalleryImage image)
    {
        image.SrcAfterFocus = image.PreviewSmallPath ?? string.Empty;

        if (image.PreviewSmallWidth < image.Width || image.PreviewSmallHeight < image.Height)
            image.SrcAfterFocus = image.PreviewMediumPath ?? string.Empty;

        if (image.PreviewMediumWidth < image.Width || image.PreviewMediumHeight < image.Height)
            image.SrcAfterFocus = image.PreviewLargePath ?? string.Empty;

        if (image.PreviewLargeWidth < image.Width || image.PreviewLargeHeight < image.Height)
            image.SrcAfterFocus = image.RawPath ?? string.Empty;

        image.SrcAfterFocus = $"{Config?.GetValue<string>("StorageUrl") ?? string.Empty}/images/{image.SrcAfterFocus}";
    }

    private void ScaleGallery(decimal galleryWidth)
    {
        var maximumGalleryImageHeight = 0.0M;

        foreach (var imgRow in gallery)
        {
            var originalRowWidth = CalcOriginalRowWidth(imgRow, galleryWidth);
            var ratio = (galleryWidth - (imgRow.Count - 1) * CalcImageMargin(galleryWidth)) / originalRowWidth;

            foreach (var img in imgRow)
            {
                img.Width = (img.RawWidth ?? 0) * ratio;
                img.Height = (img.RawHeight ?? 0) * ratio;
                maximumGalleryImageHeight = Math.Max(maximumGalleryImageHeight, img.Height);
                ChooseThumbnailSize(img);
            }
        }

        foreach(var img in gallery.Last())
        {
            // last row will currently fit whole width
            // it could have a lot less images than other rows
            // so scale it to same height as others
            var ratio = maximumGalleryImageHeight / img.Height;
            img.Height = img.Height * ratio;
            img.Width = img.Width * ratio;
            ChooseThumbnailSize(img);
        }

        RefreshNavigationErrorState();
        StateHasChanged();
    }

    private void RefreshNavigationErrorState()
    {
        leftArrowInactive = rowIndex == 0;
        rightArrowInactive = rowIndex > gallery.Count - RowsPerPage;
    }
}
