@using SimpleCmsBlazor.Services
@inject IBlobUploadService _blobUploadService
@inject IHttpClientFactory _httpClientFactory
@inject IMediaService _mediaService
@inject IJSRuntime _runtime

@inherits HxDialogBase<bool>

<HxModal Title="File Upload" @ref="modal" Size="ModalSize.ExtraLarge">
    <BodyTemplate>
        <h5>Add files to @folder?.Name</h5>
        <FileUpload ParentId="@(folder?.RowKey ?? Guid.Empty)" />
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Text="Close" Color="ThemeColor.Secondary" OnClick="async () => await HideAsCancelledAsync()" />
    </FooterTemplate>
</HxModal>

@code {
    [Parameter]
    public GalleryFolder? folder { get; set; }
}
