@using SimpleCmsBlazor.Services
@inject ISiteService SiteService
@inject NavigationManager NavManager

<PageTitle>@Page?.Name - @Site?.Name</PageTitle>

<Header site=@Site></Header>
<main class="main-body">
    @if (Page != null)
    {
        foreach (var s in Page.Sections)
        {
            <Section _section=@s _page=@Page></Section>
        }
    }
    <Viewer></Viewer>
</main>
<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-4 text-start">&copy; @Site.Name @GetYear()</div>
        <div class="col-sm-4 text-center"></div>
        <div class="col-sm-4 text-end">
            <LoginDisplay />
        </div>
    </div>
</footer>
