@using SimpleCmsBlazor.Services
@inherits HxDialogBase<GalleryImage>

<HxModal Title="Select Image" @ref="modal">
    <BodyTemplate>
        <div class="row mt-4">
            <div class="col-3">
                <h5>Select folder:</h5>
                <MediaTree Nodes="@folders" SelectedChanged="@SelectFolder"></MediaTree>
            </div>
            <div class="col-9" *ngIf="currentFolder && images">
                <h5>Media for folder: {{ currentFolder.name }}</h5>
                <MediaList Images="@images"
                           CanSort="false"
                           CanDelete="false"
                           CanSelect="true"
                           CanMove="false"
                           Selected="@Select">
                </MediaList>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Text="Cancel" Color="ThemeColor.Secondary" OnClick="async () => await HideAsCancelledAsync()" />
    </FooterTemplate>
</HxModal>


@inject IFolderService folderService;
@code {
    [Parameter] public GalleryImage? Selection { get; set; }
    [Parameter] public EventCallback<GalleryImage?> SelectionChanged { get; set; }

    List<GalleryFolder> folders = new();
    GalleryFolder? currentFolder;
    List<GalleryImage> images = new();

    protected override async Task OnInitializedAsync()
    {
        folders = await folderService.GetFoldersAsync();
    }

    public async Task SelectFolder(GalleryFolder folder)
    {
        currentFolder = folder;
        images = await folderService.GetImagesAsync(currentFolder);
    }

    public async Task Select(GalleryImage image)
    {
        await HideAsync(image);
    }
}
