@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
html,
body {
  min-height: 100%;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
}

p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
p:first {
  margin-top: 2em;
}

.node-children {
  position: relative;
  transition: height 0.2s;
  margin-left: 24px;
}

.node-item {
  /*    padding-left: 30px !important;
  text-indent: -30px;*/
}

.node-label {
  display: flex;
}

.node-icons {
  white-space: nowrap;
}

.node-title {
  padding-left: 2px;
}

/* ======== Angular material custom themes ======== */
/*

$custom-typography: mat.define-typography-config( $font-family: 'Noto Sans, cursive', $headline: mat.define-typography-level(48px, 72px, 700), $body-1: mat.define-typography-level(20px, 30px, 400), $body-2: mat.define-typography-level(20px, 30px, 700), $caption: mat.define-typography-level(16px, 24px, 400), $input: mat.define-typography-level(18px, 1, 400), );
@include mat.all-component-typographies($custom-typography);

$my-custom-primary: mat.define-palette(mat.$deep-purple-palette);
$my-custom-accent: mat.define-palette(mat.$purple-palette);
$my-custom-warn: mat.define-palette(mat.$red-palette);

$my-custom-theme: mat.define-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include mat.all-component-themes($my-custom-theme);

.mat-tree-node {
    background-color: rgb(66, 157, 253);
    color: white;
    user-select: none;
    cursor: move;

    &.cdk-drag-preview {
        // while dragging
        @include mat-elevation(12);
    }

    &.cdk-drag-placeholder {
        // potential drop area
        opacity: 0;
    }
}
*/
/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.transparent {
  opacity: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Crimson Text", serif;
  margin-top: 2em;
}

h1 {
  margin-top: 2em;
}

footer {
  border-top: 1px solid black;
}

.nav-link {
  font-size: 16px;
  padding: 0 1em;
  font-weight: bold;
}

.nav-bar {
  min-height: 64px;
}

.page-link {
  border-width: 2px;
  padding: 15px 20px;
  margin: 2em;
  min-width: 200px;
  text-align: center;
  font-weight: bold;
}

﻿ .plk-dd-inprogess > * {
  pointer-events: none;
}

/*dropzone style style*/
.plk-dd-dropzone {
  min-height: 50px;
}

/*drag drop styles*/
.plk-dd-spacing {
  height: 10px;
}

.plk-dd-spacing-dragged-over {
  padding: 25px;
}

.plk-dd-dragged-over {
  background-color: lightgray;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over > div {
  background-color: lightgray;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over-denied {
  background-color: red;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-dd-in-transit {
  opacity: 0;
}

.plk-dd-in-transit > div {
  opacity: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

/*for flex demo*/
.plk-flex .plk-dd-spacing {
  width: 20px;
  height: auto;
}

.plk-flex .plk-dd-dragged-over {
  background-color: lightgray;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-dragged-over > div {
  background-color: lightgray;
  opacity: 0.9;
  animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-in-transit {
  background-color: orangered;
}

.plk-flex .plk-dd-in-transit > div {
  background-color: orangered;
}

.plk-dd-noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
}
