/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Import Bootstrap -  only parts we need
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../NodeModules/node_modules/bootstrap/scss/functions';
// 2. Include any default variable overrides here
$font-family-base: 'Noto Sans', sans-serif;
$enable-negative-margins: true;
$font-size-base: 1rem;
$light: #e3e2e1;

@media (min-width: 40.0625em) {
    $font-size-base: 1.1875rem;
}
// 3. Include remainder of required Bootstrap stylesheets
@import '../../NodeModules/node_modules/bootstrap/scss/variables';
@import '../../NodeModules/node_modules/bootstrap/scss/variables-dark';
// 4. Include any default map overrides here
// 5. Include remainder of required parts
@import "../../NodeModules/node_modules/bootstrap/scss/maps";
@import "../../NodeModules/node_modules/bootstrap/scss/mixins";
@import "../../NodeModules/node_modules/bootstrap/scss/root";
// 6. Optionally include any other parts as needed
@import "../../NodeModules/node_modules/bootstrap/scss/utilities";
@import "../../NodeModules/node_modules/bootstrap/scss/reboot";
@import "../../NodeModules/node_modules/bootstrap/scss/type";
@import "../../NodeModules/node_modules/bootstrap/scss/images";
@import "../../NodeModules/node_modules/bootstrap/scss/containers";
@import "../../NodeModules/node_modules/bootstrap/scss/grid";
@import "../../NodeModules/node_modules/bootstrap/scss/progress";
@import "../../NodeModules/node_modules/bootstrap/scss/helpers";
@import "../../NodeModules/node_modules/bootstrap/scss/dropdown";
@import "../../NodeModules/node_modules/bootstrap/scss/modal";
@import "../../NodeModules/node_modules/bootstrap/scss/toasts";
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../NodeModules/node_modules/bootstrap/scss/utilities/api";

// Import the GOV.UK Frontend
@import "../../NodeModules/node_modules/govuk-frontend/govuk/settings/all";
$govuk-font-family: $font-family-base;
@import '../../NodeModules/node_modules/govuk-frontend/govuk/all';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html,
body {
    min-height: 100%;
    margin: 0;
    font-family: $font-family-base;
    font-size: 20px;
    line-height: 1.5rem;
}

p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &:first-of-type {
        margin-top: 2em;
    }
}

.node-children {
    position: relative;
    transition: height .2s;
    margin-left: 24px
}

.node-item {
    /*    padding-left: 30px !important;
    text-indent: -30px;*/
}

.node-label {
    display: flex;
}

.node-icons {
    white-space: nowrap;
}

.node-title {
    padding-left: 8px;
}

.transparent {
    opacity: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Crimson Text', serif;
    margin-top: 2em !important;
}

h1 {
    margin-top: 2em !important;
}

h2.accordion-header {
    margin-top: 0 !important;
}

footer {
    border-top: 1px solid black;
}

.nav-link {
    font-size: 16px;
    padding: 0 1em;
    font-weight: bold;
}

.nav-bar {
    min-height: 64px;
}

.page-link {
    position: relative;
    display: block;
    background-color: white !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 15px 20px !important;
    margin: 2em !important;
    min-width: 200px !important;
    text-align: center;
    font-weight: bold;

    &:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef !important;
        border-color: #dee2e6 !important;
        box-shadow: 0 0 0 .2rem #007bff40 !important;
    }

    &:focus {
        z-index: 3;
        outline: 0;
        box-shadow: 0 0 0 .2rem #007bff40 !important;
    }
}

/* add this to avoid flickering */
.plk-dd-inprogess > * {
    pointer-events: none;
}

/*dropzone style style*/
.plk-dd-dropzone {
    min-height: 50px;
}

/*drag drop styles*/

.plk-dd-spacing {
    height: 10px;
}

.plk-dd-spacing-dragged-over {
    padding: 25px;
}

.plk-dd-dragged-over {
    background-color: lightgray;
    opacity: 0.6;
    animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over > div {
    background-color: lightgray;
    opacity: 0.6;
    animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over-denied {
    background-color: red;
    opacity: 0.6;
    animation: blinker 1s linear infinite;
}

.plk-dd-in-transit {
    opacity: 0.8;
}

.plk-dd-in-transit > div {
    opacity: 0.8;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
}

/*for flex demo*/

.plk-flex .plk-dd-spacing {
    width: 20px;
    height: auto;
}

.plk-flex .plk-dd-dragged-over {
    background-color: lightgray;
    opacity: 0.6;
    animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-dragged-over > div {
    background-color: lightgray;
    opacity: 0.9;
    animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-in-transit {
    background-color: orangered;
}

.plk-flex .plk-dd-in-transit > div {
    background-color: orangered;
}

.plk-dd-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.drop-list {
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 100% !important;
    border-color: #000 !important;
    border-style: solid !important;
    border-width: 0px !important;
}

.dragging > .drop-list {
    min-height: 10px !important;
    border-width: 1px !important;
}

.form-check-input {
    border: 2px solid #0000008a;
}

.form-control, .accordion-item, .rz-colorpicker, .rz-colorpicker-value {
    border-color: #0000008a;
}

.accordion-button {
    padding: 5px;
}

.offcanvas-bottom.hx-offcanvas-lg {
    height: 75vh;
}

/* Switch to fixed positioning, and stick the header to the top of the page */
html:not([data-scroll='0']) .navbar {
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
}

html:not([data-scroll='0']) .logo-background {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
}

div:has(> iframe#videoCont) {
    display: none;
}

.vh-80 {
    height: 80vh;
}

.marker {
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    opacity: 0.3;

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(90deg);
    }

    &:hover {
        opacity: 1;
    }
}